$navbar-background: #41B883;
$emphasis-text-color: #35495E;

html, body{
    
    overflow:hidden;
    background-color: #262626;
}
#app {
    background-color: #262626 ;
    background-image: url('assets/img/bg.png');
    background-size: cover;
    overflow:hidden;
}
.navbar {
    border-radius: 0;
    background: $navbar-background !important;
}
a {
    color: $emphasis-text-color;
}
a:hover {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0;
}